<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meal Whisperer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3452352A1E4468E500C25C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345235431E4468E700C25C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3452354E1E4468E700C25C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
